@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  @apply m-0;
  font-family: 'Poppins', sans-serif;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.custom-gradient1{
  background: linear-gradient(90deg,  rgba(206, 191, 191, 0) 50%, white 50%);
}
.custom-gradient2{
  background: linear-gradient(90deg, white 50%, rgba(206, 191, 191, 0) 50%);

}

